<div class = "container mt-3">
    <h1>Edit Documentary</h1>
    <%= render 'form'%>
    <p>
        <%= link_to 'Create new character', new_character_path, class: "btn btn-primary"%>
    </p>

    <p>
        <%= link_to 'Return to characters films listing', characters_path, class: "btn btn-primary"%>
    </p>
</div>